
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');

* {
    /* reset khoảng cách */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

.backgr {
    margin-top: 100px;
    display: flex;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.frleft {
    width: 20%;
    height: 800px;
    background-color: white;
}

.frright {
    width: 70%;
    height: 800px;

}

.nameacc {
    gap: 10px;
    width: auto;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #D0D4CA;
}

.textacc {
    display: flex;
    font-weight: 600;
}

.textsua {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.thongtinacc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
    font-size: 15px;
    padding-left: 30px;
}

.tab_tt {
    gap: 15px;
    display: flex;
    align-items: center;
    align-items: center;
    color: black;
    font-weight: 600;
}

.texttd {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid #D0D4CA;
}

.texttd>label {
    font-size: 17px;
    font-weight: 600;
}

.texttd>span {
    font-size: 15px;
}

.tths {
    background-color: antiquewhite;
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.texths {
    display: flex;
    font-size: 15px;
    gap: 10px;

}

table,
td,
th {
    border: 1px solid #D0D4CA;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #F3F3F3;
}

th,
td {
    height: 60px;
    font-size: 15px;
}

td>a {
    text-decoration: underline;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.btnxoa{
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btnxoa >button{
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 100px;
    background-color: #19989e;
    color: white;
    border: none;
}

.btn{
    height: 40px;
    display: flex;
    align-items: center;
}

.btn >button{
    font-size: 15px;
    font-weight: 800;
    height: 35px;
    width: 130px;
    background-color: #19989e;
    color: white;
    border: none;
}
.btn>button:hover{
    background-color: white;
    border: 2px solid #38ef7d;
    color: #19989e;
    font-weight: 800;
}